{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ category.title }}
{% endblock title %}

{% block content %}
    <ul>
        {% for recipe in category.recipes.all %}
            <li>{{recipe.title}}</li>

        <a href="{% url 'recipes:recipe_edit' pk=category.pk %}">
            <button type="button" class="btn btn-primary">Update</button>

        </a>
         <a href="{% url 'recipes:recipe_delete' pk=category.pk %}">
        <button type="button" class="btn btn-danger">Delete</button>
        </a>
        {% endfor %}
    </ul>

{% endblock content %}